<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- icon -->
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
  <div class="wrap">
    <h1>Manager Page</h1>
    
    <button type="button" onclick="location.href='#modal-calendar'" class="btn">
    <i class="far fa-calendar"></i>
  </button>
    
  </div>
   
  <!-- Modal -->
  <div class="modal" id="modal-calendar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-header">
        <a href="#" class="btn-control" aria-hidden="true"><</a>
        <h2>2021-05-27</h2>
        <a href="#" class="btn-control" aria-hidden="true">></a>
      </div>
      <div class="modal-body">
        <p>Calendar</p>
      </div>
    </div>
  </div>
  <!-- /Modal -->
  
</body>
</html>
