/* 미디어 쿼리 */
@media (min-width: 320px) and (max-width: 480px) {

    .body {
        padding-bottom: 30px;
        margin-top: 20%;
    }

    a {
        text-decoration: none;
    }


    #name span{
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cafename span{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #meal-button a {
        margin-left: 78%;
        font-size: 20px;
        /* display: block;
        text-align: center;
        font-size: 25px;

        padding: .5rem 1rem;
        text-decoration: none;
        font-weight: bold;
        width: 20%; */
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    #button {
        display: block;
        margin: auto 10px;
        margin-top: 30px;
        
    }

    #button a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 1rem 1rem;
        margin-top: 30px;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
    }
    
    
}