/* 미디어 쿼리 */
@media (min-width: 320px) and (max-width: 480px) {

    .body {
        padding-bottom: 50px;
        border: 3px solid black;
        border-radius: 2%;
    }

    .header {
        background-color: #007BFF;
        padding-bottom: 5px;
    }

    .header a {
        color: white;
        font-size: 40px;
        padding-left: 20px;
        text-decoration: none;
    }

    .header a:hover { text-decoration:none !important }

    .choose-date{
        padding-top: 20px;
    }

    .choose-date .btns{
        display: flex;
        justify-content: space-around;
    }

    #now-date {
        padding-top: 5px;
    }

    #update-btn {
        margin: 20px 0;
        margin-left: 67%;
    }

}