/* 미디어 쿼리 */

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
.body {
    padding-bottom: 50px;
}

.wrap{
    
    width: 500px;
    margin: auto;
}

.header {
    background-color: #007BFF;
    padding-bottom: 5px;
    width: 100%;
}

.header a {
    color: white;
    font-size: 40px;
    padding-left: 20px;
    text-decoration: none;
}

.header a:hover { text-decoration:none !important }

.choose-date{
    padding-top: 20px;
}

.choose-date .btns{
    display: flex;
    justify-content: space-around;
}

#now-date {
    padding-top: 5px;
}

#update-btn {
    margin: 20px 0;
}
