.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

:root{
    --space: 5px;
    --blue: #5091F4;
    --blue-dark: darken(--blue, 5%);
}

/* button */
.btn-calendar{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  font-size: 35px;
  padding-top: 0;
}
  

/* modal */
.modal{
  display: none;
  position: fixed;
  z-index: 10;
 
}

.modal-dialog{
  background: white;
  border: var(--blue) solid 5px;
  border-radius: 10px;
  width: fit-content!important;
}

.modal-body{
  width: 80%;
}

.modal-header{
  width: 80%;
}
