<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학식당 메뉴 관리</title>

  <!-- icon -->
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <!-- 부트스트랩 -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <!-- 한글화 및 한국식 날짜표기를 적용한 datepicker 구성요소-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js"></script>

</head>
<body>
  <div class="wrap">
    <h1>Manager Page</h1>
    
    <button id="btn-calendar" class="btn btn-calendar">
      <i class="far fa-calendar"></i>
    </button>
    
  </div>
   
  <!-- Modal -->
  <div class="modal" id="modal-calendar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-header">
        <a href="#" class="btn-control" aria-hidden="true"><</a>
        <h2>2021-05-27</h2>
        <a href="#" class="btn-control" aria-hidden="true">></a>
      </div>
      <div class="modal-body">
        <div class="input-group input-append date" id="dateRangePicker"> </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->

  <!-- modal script -->
  <script>
    var modal = document.getElementById("modal-calendar");
    var btn = document.getElementById("btn-calendar");
    
    btn.onclick = function() {
      modal.style.display = "block";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

  <!-- date picker script -->
  <script type="text/javascript">
    $('#dateRangePicker').datepicker({
      format: "yyyy-mm-dd",
      language: "kr"
    });

    $('#click-btn').on('click', function() {
      var data = $('#dateRangePicker').var();
      alert(date);
    });
  </script>
</body>
</html>
