<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학식당 메뉴 관리</title>

  <!-- icon -->
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
  <div class="wrap">
    <h1>Manager Page</h1>
    
    <button id="btn-calendar" class="btn btn-calendar">
      <i class="far fa-calendar"></i>
    </button>
    
  </div>
   
  <!-- Modal -->
  <div class="modal" id="modal-calendar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-header">
        <a href="#" class="btn-control" aria-hidden="true"><</a>
        <h2>2021-05-27</h2>
        <a href="#" class="btn-control" aria-hidden="true">></a>
      </div>
      <div class="modal-body">
        <p>Calendar</p>
      </div>
    </div>
  </div>
  <!-- /Modal -->

  <script>
    var modal = document.getElementById("modal-calendar");
    var btn = document.getElementById("btn-calendar");
    
    btn.onclick = function() {
      modal.style.display = "block";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  
</body>
</html>
